.level {
  margin-top: 40px;

  @media (max-width: 991px) {
    margin-top: 20px;
  }
}

.left-kanji {
  &__container {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 991px) {
      justify-content: center;
    }
  }
}
