.right-kanji {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  flex-direction: column;
  padding-right: 5em;

  &--button {
    margin-bottom: 3em;
  }
  &--slider {
    margin-bottom: 3em;
  }

  &__switch_mode {
    width: 100%;

    &--col {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
