.right-kanji {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em 5em 2em 1em;

  @media (max-width: 991px) {
    padding: 1.5em;
  }

  &--button {
    margin-bottom: 3em;

    @media (max-width: 991px) {
      margin-bottom: 1.5em;
    }
  }

  &--slider {
    margin-bottom: 3em;
    width: 100%;
    min-width: 0;

    @media (max-width: 991px) {
      margin-bottom: 1.5em;
    }
  }

  &__switch_mode {
    width: 100%;

    &--col {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
